.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 10% auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.error{
    margin: 50px auto;
    display: block;
}

#login-form{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}
